/* || Universal Styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif, serif;
}

:root {
  /* Primary Colours */

  --Green500: hsl(171, 66%, 44%);
  --BtnGreen: hsl(171, 66%, 32%);
  --Blue100: hsl(233, 100%, 69%);
  --BtnBlue: hsl(233, 54%, 55%);

  /* Neutral Colours */

  --Gray700: hsl(210, 10%, 33%);
  --Gray500: hsl(201, 11%, 66%);
  --White: hsl(0, 0%, 100%);

  /*Font Size */
  --FntSize: 18px;
}

/* ... */

/* || Main */

main {
  padding: 0 0.2em;
}

/* Hero Section */

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./images/bg-header-mobile.png);
  background-size: cover;
  background-repeat: none;
  margin-bottom: 8em;
  width: 100%;
}

.clipboard-logo {
  width: 8em;
  height: auto;
  margin: 5em 0;
}

.hero-text {
  text-align: center;
}

.hero-text h1 {
  font-size: 2.2em;
  color: var(--Gray700);
  margin-bottom: 0.8em;
}

.hero-text p {
  line-height: 170%;
  color: var(--Gray500);
  margin-bottom: 3em;
}

button {
  margin-bottom: 2em;
  width: 22em;
  padding: 1.2em;
  border-radius: 2em;
  border: none;
  color: var(--White);
  font-size: 1em;
}

.ios {
  background-color: var(--Green500);
  box-shadow: 0 0.3em 0.2em var(--BtnGreen);
}

.mac {
  background-color: var(--Blue100);
  box-shadow: 0 0.3em 0.2em var(--BtnBlue);
}

/* ... */

/* || Article Section */

.article-section {
  margin-bottom: 8em;
}

article {
  text-align: center;
  margin-bottom: 3.5em;
}

.article-header {
  color: var(--Gray700);
  margin-bottom: 0.8em;
  font-size: 2em;
}

.article-text {
  color: var(--Gray500);
  line-height: 170%;
}

/* Images */

.img-container {
  padding: 0 0.2em;
}

.computer-img {
  width: 100%;
  margin-bottom: 4.5em;
}

/* ... */
